.glass-container {
  background: #d9d9d933;
  color: #d9d9d933;
  isolation: isolate;
  position: relative;
}

.glass-effect {
  -webkit-backdrop-filter: saturate(120%) blur(.75em);
  backdrop-filter: saturate(120%) blur(.75em);
  border-radius: inherit;
  color: inherit;
  inset: 0;
  isolation: isolate;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.glass-effect__fill,
.glass-effect__fill-burn,
.glass-effect__highlight-soft,
.glass-effect__highlight-strong,
.glass-effect__edge-light,
.glass-effect__edge-dark,
.glass-effect__inner-glow {
  border-radius: inherit;
  inset: 0;
  position: absolute;
}

.glass-effect__fill {
  background-color: #d4d4d426;
  opacity: 1;
}

.glass-effect__fill-burn {
  background-color: currentColor;
  mix-blend-mode: color-burn;
  opacity: .05;
}

.glass-effect__highlight-soft {
  box-shadow: inset -.28125em -.28125em .09375em -.328125em #ffffff80;
  mix-blend-mode: overlay;
}

.glass-effect__highlight-strong {
  box-shadow: inset .28125em .28125em .09375em -.328125em #fffc;
}

.glass-effect__edge-light {
  box-shadow: inset .1875em .28125em .09375em -.1875em #b3b3b380;
  mix-blend-mode: plus-lighter;
}

.glass-effect__edge-dark {
  box-shadow: inset -.1875em -.28125em .09375em -.1875em #b3b3b34d;
  mix-blend-mode: overlay;
}

.glass-effect__inner-glow {
  box-shadow: inset 0 0 1.75em #f2f2f24d;
  mix-blend-mode: darken;
}

.glass-container__content {
  position: relative;
  z-index: 1;
}
