@font-face {
  font-family: "Dawning of a New Day";
  src: url("/fonts/dawning-of-a-new-day/DawningofaNewDay.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
